<phpunit colors="true" strict="true">
    <testsuites>
        <testsuite name="all">
            <file>tests/DownloaderTest.php</file>
            <file>tests/FileManagerTest.php</file>
            <file>tests/UpdaterTest.php</file>
            <file>tests/IpTest.php</file>
            <file>tests/InstallerTest.php</file>
        </testsuite>
        <testsuite name="Downloader">
            <file>tests/DownloaderTest.php</file>
        </testsuite>
        <testsuite name="Ip">
            <file>tests/IpTest.php</file>
        </testsuite>
        <testsuite name="FileManager">
            <file>tests/FileManagerTest.php</file>
        </testsuite>
        <testsuite name="Updater">
            <file>tests/UpdaterTest.php</file>
        </testsuite>
        <testsuite name="Installer">
            <file>tests/InstallerTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix="Interface.php">.</directory>
            </exclude>
        </whitelist>
        <blacklist>
            <directory suffix=".php">./vendor</directory>
        </blacklist>
    </filter>
</phpunit>